/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Livvic', sans-serif;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #DFE0DC;
  background-size: 100%;
  background-attachment: fixed;
  height: 100%;
}

body nav {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #D1D3C4;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

body nav ul li a {
  color: #351431;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

body .wrapper {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

body .wrapper .line {
  width: 100%;
  height: 1.3px;
  margin-top: 12.3%;
  margin-bottom: 12.3%;
  background-color: #BDC696;
}

body .wrapper .introSect {
  height: 75vh;
  padding: 3%;
  margin-top: 5%;
  color: #BDC696;
  background-image: url(../img/chef-1245676_640.jpg);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

body .wrapper .introSect h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

body .wrapper .introSect h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 5%;
}

body .wrapper .introSect p {
  font-size: 1vmax;
  letter-spacing: 2.5px;
}

body .wrapper .introSect button {
  display: inline-block;
  text-decoration: none;
  margin: 0.2rem 0.1rem;
  padding: 0.7rem 1.2rem;
  background-color: #775253;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  font-size: 1.1rem;
  border-radius: 5px;
  color: #BDC696;
}

body .wrapper .introSect button:hover {
  background-color: #BDC696;
  color: #351431;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

body .wrapper .introSect .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.8);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .wrapper .introSect .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 500px;
  margin-left: -200px;
  margin-top: -150px;
  background: #bdc3c7;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body .wrapper .introSect .modal .next {
  position: absolute;
  right: 0%;
}

body .wrapper .introSect .modal h2 {
  font-size: 2em;
  letter-spacing: 1.3px;
  font: 300;
  text-transform: uppercase;
}

body .wrapper .introSect .modal form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  padding: 20px;
  color: #351431;
}

body .wrapper .introSect .modal form fieldset {
  padding: 0;
  margin: 5%;
  border: none;
  overflow: visible;
}

body .wrapper .introSect .modal form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 12px 10px 8px;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #DDD;
  font-size: 120%;
  outline: none;
  cursor: text;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body .wrapper .introSect .modal form input::-webkit-input-placeholder {
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

body .wrapper .introSect .modal form input:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}

body .wrapper .introSect .modal form hr {
  content: '';
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: #351431;
  font-size: 1px;
  will-change: transform, visibility;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}

body .wrapper .introSect .modal form input:focus ~ hr {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  visibility: visible;
}

body .wrapper .introSect .modal form label {
  position: absolute;
  top: 25%;
  font-size: 120%;
  color: #351431;
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
  -webkit-transition: -webkit-transform 450ms ease;
  transition: -webkit-transform 450ms ease;
  transition: transform 450ms ease;
  transition: transform 450ms ease, -webkit-transform 450ms ease;
  pointer-events: none;
  visibility: hidden;
}

body .wrapper .introSect .modal form input:focus ~ label,
body .wrapper .introSect .modal form input:valid ~ label {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  visibility: visible;
  font: 300;
}

body .wrapper .introSect .modal .signUpWrapper {
  color: #351431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  height: 450px;
  width: 525px;
}

body .wrapper .introSect .modal .signInWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  height: 450px;
  width: 525px;
  visibility: hidden;
}

body .wrapper .introSect .active {
  visibility: visible;
  opacity: 1;
}

body .wrapper .introSect .active + .modal {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body .wrapper .introSect .tittleContainer {
  padding: 3%;
  width: 30%;
  height: 105%;
  background-color: #775253;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

body .wrapper .expSect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10%;
  height: 65vw;
  width: 100%;
  color: #351431;
}

body .wrapper .expSect h2 {
  font-size: 2.5em;
}

body .wrapper .expSect .cardContainer {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  grid-gap: 1em;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "card1 card2 card3";
}

body .wrapper .expSect .cardContainer .card {
  background-color: #775253;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: auto;
  padding: 3%;
}

body .wrapper .expSect .cardContainer img {
  max-width: 100%;
}

body .wrapper .expSect .cardContainer .card1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card1;
}

body .wrapper .expSect .cardContainer .card2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card2;
}

body .wrapper .expSect .cardContainer .card3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: card3;
}

body .recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  height: auto;
  margin: auto;
}

body .recipes h1 {
  text-align: center;
  font-size: 2.5rem;
}

body .recipes h2 {
  text-align: center;
  font-size: 1.5rem;
}

body .recipes h3 {
  text-align: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: bold;
}

body .recipes h4 {
  font-size: 1rem;
  text-transform: capitalize;
}

body .recipes .recipe-content {
  max-width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: solid gray 1px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: auto;
  margin-bottom: 20px;
}

body .recipes .recipe-header {
  width: 100%;
  height: 30%;
  background-color: #351431;
  text-align: center;
  text-transform: capitalize;
  color: white;
  border: 1px  solid black;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: auto;
  margin-bottom: 5%;
  padding: 2%;
}

body .recipes .recipe-img {
  max-width: 22%;
  max-height: 7%;
  margin-right: auto;
}

body .recipes .recipe-area {
  max-width: 70%;
  padding: 2%;
  margin: auto;
}

@-webkit-keyframes fadein {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

body footer nav {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

body footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

body footer nav ul li a {
  color: #351431;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */