/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Livvic', sans-serif;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #DFE0DC;
  background-size: 100%;
  background-attachment: fixed;
}

body nav {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #D1D3C4;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

body nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

body nav ul li a {
  color: #351431;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

body .wrapper {
  height: 200vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

body .wrapper .line {
  width: 100%;
  height: 1.3px;
  margin-top: 12.3%;
  margin-bottom: 12.3%;
  background-color: #BDC696;
}

body .wrapper .introSect {
  height: 75vh;
  padding: 3%;
  margin-top: 5%;
  color: #BDC696;
  background-image: url(/img/chef.jpg);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

body .wrapper .introSect h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

body .wrapper .introSect p {
  font-size: 1vmax;
  letter-spacing: 2.5px;
}

body .wrapper .introSect .tittleContainer {
  padding: 3%;
  width: 30%;
  height: 105%;
  background-color: #775253;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

body .wrapper .expSect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10%;
  height: 65vh;
  width: 100%;
  color: #351431;
}

body .wrapper .expSect h2 {
  font-size: 2.5em;
}

body .wrapper .expSect .cardContainer {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  grid-gap: 1em;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "card1 card2 card3" "card4 card5 card6";
}

body .wrapper .expSect .cardContainer .card {
  background-color: #775253;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 1%;
  padding: 3%;
}

body .wrapper .expSect .card1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card1;
}

body .wrapper .expSect .card2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card2;
}

body .wrapper .expSect .card3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: card3;
}

body .wrapper .expSect .card4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card4;
}

body .wrapper .expSect .card5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card5;
}

@-webkit-keyframes fadein {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */